<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mybatis.jpetstore.mapper.PostMapper">

  <select id="getPost" resultType="Post">
    SELECT idx, sendUser, receiveUser, title, content, status, date_format(createdAt, '%y-%m-%d %H:%i') as createdAt
    FROM post
    WHERE idx = #{idx}
  </select>

  <select id="getPostList" resultType="Post">
    SELECT idx, sendUser, receiveUser, title, content, status, date_format(createdAt, '%y-%m-%d %H:%i') as createdAt
    FROM post
    WHERE sendUser = #{sendUser}
    ORDER BY idx DESC
  </select>

  <select id="getReceiveList" resultType="Post">
    SELECT idx, sendUser, receiveUser, title, content, status, date_format(createdAt, '%y-%m-%d %H:%i') as createdAt
    FROM post
    WHERE receiveUser = #{receiveUser}
    ORDER BY idx DESC
  </select>

  <select id="getPostchk" resultType="int">
    SELECT count(*) as num
    FROM post
    WHERE receiveUser = #{receiveUser} AND status = 'N';
  </select>

  <insert id="insertPost" parameterType="Post">
    INSERT INTO post (sendUser, receiveUser, title, content)
    VALUES (#{sendUser}, #{receiveUser}, #{title}, #{content})
  </insert>

  <update id="updateStatus" parameterType="Post">
    UPDATE post SET status = 'Y' WHERE idx = #{idx}
  </update>

</mapper>